# UAS Statkom

### Import library

In [1]:
import pandas as pd

# Baca data

In [2]:
dataFrame = pd.read_excel('data.xlsx')
dataFrame

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
0,adp,Bandung,Pria,<40,Sewa > 500000,Out Standing
1,adp,Cimahi,Pria,<40,Sewa > 500000,Paid
2,bcp,Cimahi,Wanita,<40,Sewa = 500000,Paid
3,ags,Bandung,Pria,<40,Sewa = 500000,Paid
4,bcp,Bandung,Pria,<40,Sewa < 500000,Paid
5,bcp,Bandung,Wanita,>40,Sewa = 500000,Out Standing
6,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
7,adp,Cimahi,Wanita,>40,Sewa > 500000,Paid
8,ags,Bandung,Wanita,<40,Sewa < 500000,Paid
9,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
10,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
11,adp,Bandung,Pria,<40,Sewa = 500000,Out Standing
12,bcp,Bandung,Pria,>40,Sewa = 500000,Out Standing
13,ags,Cimahi,Wanita,>40,Sewa > 500000,Paid
14,ags,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
15,bcp,Cimahi,Wanita,>40,Sewa < 500000,Paid
16,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
17,adp,Bandung,Pria,<40,Sewa = 500000,Paid
18,adp,Bandung,Pria,<40,Sewa = 500000,Out Standing
19,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
20,bcp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
21,ags,Bandung,Wanita,>40,Sewa > 500000,Paid
22,ags,Bandung,Wanita,>40,Sewa = 500000,Out Standing
23,ags,Cimahi,Pria,<40,Sewa > 500000,Out Standing
24,bcp,Cimahi,Pria,<40,Sewa > 500000,Out Standing
25,bcp,Bandung,Pria,>40,Sewa > 500000,Paid
26,adp,Bandung,Wanita,<40,Sewa > 500000,Paid
27,adp,Bandung,Pria,<40,Sewa > 500000,Paid
28,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
29,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
30,adp,Bandung,Wanita,<40,Sewa < 500000,Paid
31,bcp,Bandung,Wanita,>40,Sewa = 500000,Paid
32,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
33,ags,Bandung,Pria,>40,Sewa > 500000,Out Standing
34,ags,Bandung,Pria,<40,Sewa < 500000,Paid
35,bcp,Bandung,Pria,>40,Sewa < 500000,Paid
36,bcp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
37,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
38,ags,Cimahi,Wanita,>40,Sewa = 500000,Out Standing
39,bcp,Bandung,Wanita,>40,Sewa > 500000,Paid
40,adp,Bandung,Pria,>40,Sewa > 500000,Paid
41,adp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
42,adp,Cimahi,Pria,>40,Sewa < 500000,Paid
43,ags,Bandung,Pria,<40,Sewa = 500000,Paid
44,bcp,Cimahi,Pria,<40,Sewa = 500000,Out Standing
45,adp,Bandung,Wanita,>40,Sewa < 500000,Paid
46,bcp,Bandung,Pria,>40,Sewa = 500000,Paid
47,ags,Bandung,Pria,>40,Sewa > 500000,Paid
48,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
49,adp,Cimahi,Pria,<40,Sewa < 500000,Paid

Mengambil data kolom

In [3]:
AreaManager = dataFrame['Area Manager']
Kota = dataFrame['Kota']
JenisKelamin = dataFrame['Jenis Kelamin']
UmurPenyewa = dataFrame['Rata - Rata Umur Penyewa']
BiayaSewa = dataFrame['RataRata Biaya Sewa']
kelas = dataFrame['Status Pembayaran']
dataFrame

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
0,adp,Bandung,Pria,<40,Sewa > 500000,Out Standing
1,adp,Cimahi,Pria,<40,Sewa > 500000,Paid
2,bcp,Cimahi,Wanita,<40,Sewa = 500000,Paid
3,ags,Bandung,Pria,<40,Sewa = 500000,Paid
4,bcp,Bandung,Pria,<40,Sewa < 500000,Paid
5,bcp,Bandung,Wanita,>40,Sewa = 500000,Out Standing
6,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
7,adp,Cimahi,Wanita,>40,Sewa > 500000,Paid
8,ags,Bandung,Wanita,<40,Sewa < 500000,Paid
9,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
10,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
11,adp,Bandung,Pria,<40,Sewa = 500000,Out Standing
12,bcp,Bandung,Pria,>40,Sewa = 500000,Out Standing
13,ags,Cimahi,Wanita,>40,Sewa > 500000,Paid
14,ags,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
15,bcp,Cimahi,Wanita,>40,Sewa < 500000,Paid
16,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
17,adp,Bandung,Pria,<40,Sewa = 500000,Paid
18,adp,Bandung,Pria,<40,Sewa = 500000,Out Standing
19,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
20,bcp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
21,ags,Bandung,Wanita,>40,Sewa > 500000,Paid
22,ags,Bandung,Wanita,>40,Sewa = 500000,Out Standing
23,ags,Cimahi,Pria,<40,Sewa > 500000,Out Standing
24,bcp,Cimahi,Pria,<40,Sewa > 500000,Out Standing
25,bcp,Bandung,Pria,>40,Sewa > 500000,Paid
26,adp,Bandung,Wanita,<40,Sewa > 500000,Paid
27,adp,Bandung,Pria,<40,Sewa > 500000,Paid
28,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
29,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
30,adp,Bandung,Wanita,<40,Sewa < 500000,Paid
31,bcp,Bandung,Wanita,>40,Sewa = 500000,Paid
32,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
33,ags,Bandung,Pria,>40,Sewa > 500000,Out Standing
34,ags,Bandung,Pria,<40,Sewa < 500000,Paid
35,bcp,Bandung,Pria,>40,Sewa < 500000,Paid
36,bcp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
37,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
38,ags,Cimahi,Wanita,>40,Sewa = 500000,Out Standing
39,bcp,Bandung,Wanita,>40,Sewa > 500000,Paid
40,adp,Bandung,Pria,>40,Sewa > 500000,Paid
41,adp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
42,adp,Cimahi,Pria,>40,Sewa < 500000,Paid
43,ags,Bandung,Pria,<40,Sewa = 500000,Paid
44,bcp,Cimahi,Pria,<40,Sewa = 500000,Out Standing
45,adp,Bandung,Wanita,>40,Sewa < 500000,Paid
46,bcp,Bandung,Pria,>40,Sewa = 500000,Paid
47,ags,Bandung,Pria,>40,Sewa > 500000,Paid
48,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
49,adp,Cimahi,Pria,<40,Sewa < 500000,Paid

# Distribusi data
Memisahkan tiap kelas data menjadi data Paid dan data Out Standing

# Data kelas "Paid"

In [4]:
kelas_Paid = dataFrame[kelas == 'Paid']
print(len(kelas_Paid))
kelas_Paid

27

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
1,adp,Cimahi,Pria,<40,Sewa > 500000,Paid
3,ags,Bandung,Pria,<40,Sewa = 500000,Paid
4,bcp,Bandung,Pria,<40,Sewa < 500000,Paid
7,adp,Cimahi,Wanita,>40,Sewa > 500000,Paid
8,ags,Bandung,Wanita,<40,Sewa < 500000,Paid
9,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
13,ags,Cimahi,Wanita,>40,Sewa > 500000,Paid
15,bcp,Cimahi,Wanita,>40,Sewa < 500000,Paid
16,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
17,adp,Bandung,Pria,<40,Sewa = 500000,Paid
21,ags,Bandung,Wanita,>40,Sewa > 500000,Paid
25,bcp,Bandung,Pria,>40,Sewa > 500000,Paid
26,adp,Bandung,Wanita,<40,Sewa > 500000,Paid
27,adp,Bandung,Pria,<40,Sewa > 500000,Paid
28,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
30,adp,Bandung,Wanita,<40,Sewa < 500000,Paid
31,bcp,Bandung,Wanita,>40,Sewa = 500000,Paid
34,ags,Bandung,Pria,<40,Sewa < 500000,Paid
35,bcp,Bandung,Pria,>40,Sewa < 500000,Paid
39,bcp,Bandung,Wanita,>40,Sewa > 500000,Paid
40,adp,Bandung,Pria,>40,Sewa > 500000,Paid
42,adp,Cimahi,Pria,>40,Sewa < 500000,Paid
45,adp,Bandung,Wanita,>40,Sewa < 500000,Paid
46,bcp,Bandung,Pria,>40,Sewa = 500000,Paid
47,ags,Bandung,Pria,>40,Sewa > 500000,Paid
48,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
49,adp,Cimahi,Pria,<40,Sewa < 500000,Paid

### Memisahkan Data Training dan data Testing Kelas Paid

Memisahkan 70% data dari kelas yang bernilai "Paid" sebagai data training. 30% sisanya akan menjadi data testing.

In [5]:
# Menenentukan index ke berapa data akan dipotong
index_potong_Paid = int(len(kelas_Paid) * 0.7)
index_potong_Paid

18

### Data Training Paid

In [6]:
data_training_Paid = kelas_Paid.iloc[:index_potong_Paid]
data_testing_Paid = kelas_Paid.iloc[index_potong_Paid:]
print(len(data_training_Paid))
print(len(data_testing_Paid))
data_training_Paid

18
9

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
1,adp,Cimahi,Pria,<40,Sewa > 500000,Paid
3,ags,Bandung,Pria,<40,Sewa = 500000,Paid
4,bcp,Bandung,Pria,<40,Sewa < 500000,Paid
7,adp,Cimahi,Wanita,>40,Sewa > 500000,Paid
8,ags,Bandung,Wanita,<40,Sewa < 500000,Paid
9,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
13,ags,Cimahi,Wanita,>40,Sewa > 500000,Paid
15,bcp,Cimahi,Wanita,>40,Sewa < 500000,Paid
16,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
17,adp,Bandung,Pria,<40,Sewa = 500000,Paid
21,ags,Bandung,Wanita,>40,Sewa > 500000,Paid
25,bcp,Bandung,Pria,>40,Sewa > 500000,Paid
26,adp,Bandung,Wanita,<40,Sewa > 500000,Paid
27,adp,Bandung,Pria,<40,Sewa > 500000,Paid
28,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
30,adp,Bandung,Wanita,<40,Sewa < 500000,Paid
31,bcp,Bandung,Wanita,>40,Sewa = 500000,Paid
34,ags,Bandung,Pria,<40,Sewa < 500000,Paid

### Data testing Paid

In [7]:

data_testing_Paid

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
35,bcp,Bandung,Pria,>40,Sewa < 500000,Paid
39,bcp,Bandung,Wanita,>40,Sewa > 500000,Paid
40,adp,Bandung,Pria,>40,Sewa > 500000,Paid
42,adp,Cimahi,Pria,>40,Sewa < 500000,Paid
45,adp,Bandung,Wanita,>40,Sewa < 500000,Paid
46,bcp,Bandung,Pria,>40,Sewa = 500000,Paid
47,ags,Bandung,Pria,>40,Sewa > 500000,Paid
48,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
49,adp,Cimahi,Pria,<40,Sewa < 500000,Paid

#### Data kelas "Out Standing"

In [8]:
kelas_OutStanding = dataFrame[kelas == 'Out Standing']
print(len(kelas_OutStanding))
kelas_OutStanding

20

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
0,adp,Bandung,Pria,<40,Sewa > 500000,Out Standing
5,bcp,Bandung,Wanita,>40,Sewa = 500000,Out Standing
6,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
10,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
11,adp,Bandung,Pria,<40,Sewa = 500000,Out Standing
12,bcp,Bandung,Pria,>40,Sewa = 500000,Out Standing
14,ags,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
19,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
20,bcp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
22,ags,Bandung,Wanita,>40,Sewa = 500000,Out Standing
23,ags,Cimahi,Pria,<40,Sewa > 500000,Out Standing
24,bcp,Cimahi,Pria,<40,Sewa > 500000,Out Standing
29,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
32,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
33,ags,Bandung,Pria,>40,Sewa > 500000,Out Standing
36,bcp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
37,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
38,ags,Cimahi,Wanita,>40,Sewa = 500000,Out Standing
41,adp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
44,bcp,Cimahi,Pria,<40,Sewa = 500000,Out Standing

### Memisahkan Data Training dan Data Testing Kelas Out Standing

Memisahkan 70% data dari kelas yang bernilai "Out Standing" sebagai data training. 30% sisanya akan menjadi data testing.

In [9]:
# Menenentukan index ke berapa data akan dipotong
index_potong_OutStanding = int(len(kelas_OutStanding) * 0.70) 
index_potong_OutStanding

14

In [10]:
data_training_OutStanding = kelas_OutStanding.iloc[:index_potong_OutStanding]
data_testing_OutStanding = kelas_OutStanding.iloc[index_potong_OutStanding:]
print(len(data_training_OutStanding))
print(len(data_testing_OutStanding))
data_training_OutStanding

14
6

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
0,adp,Bandung,Pria,<40,Sewa > 500000,Out Standing
5,bcp,Bandung,Wanita,>40,Sewa = 500000,Out Standing
6,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
10,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
11,adp,Bandung,Pria,<40,Sewa = 500000,Out Standing
12,bcp,Bandung,Pria,>40,Sewa = 500000,Out Standing
14,ags,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
19,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
20,bcp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
22,ags,Bandung,Wanita,>40,Sewa = 500000,Out Standing
23,ags,Cimahi,Pria,<40,Sewa > 500000,Out Standing
24,bcp,Cimahi,Pria,<40,Sewa > 500000,Out Standing
29,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
32,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing

### Data Testing Out Standing

In [11]:
data_testing_OutStanding

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
33,ags,Bandung,Pria,>40,Sewa > 500000,Out Standing
36,bcp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
37,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
38,ags,Cimahi,Wanita,>40,Sewa = 500000,Out Standing
41,adp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
44,bcp,Cimahi,Pria,<40,Sewa = 500000,Out Standing

### Menggabungkan data training

In [12]:
join_training = pd.concat([data_training_Paid, data_training_OutStanding])
data_training = join_training.sample(frac=1) #fungsi acak baris
print(len(data_training))
data_training

32

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
26,adp,Bandung,Wanita,<40,Sewa > 500000,Paid
19,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
13,ags,Cimahi,Wanita,>40,Sewa > 500000,Paid
32,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
4,bcp,Bandung,Pria,<40,Sewa < 500000,Paid
20,bcp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
27,adp,Bandung,Pria,<40,Sewa > 500000,Paid
5,bcp,Bandung,Wanita,>40,Sewa = 500000,Out Standing
16,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
30,adp,Bandung,Wanita,<40,Sewa < 500000,Paid
12,bcp,Bandung,Pria,>40,Sewa = 500000,Out Standing
34,ags,Bandung,Pria,<40,Sewa < 500000,Paid
28,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
22,ags,Bandung,Wanita,>40,Sewa = 500000,Out Standing
21,ags,Bandung,Wanita,>40,Sewa > 500000,Paid
25,bcp,Bandung,Pria,>40,Sewa > 500000,Paid
9,bcp,Cimahi,Pria,>40,Sewa < 500000,Paid
10,adp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
14,ags,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
6,adp,Cimahi,Wanita,>40,Sewa > 500000,Out Standing
1,adp,Cimahi,Pria,<40,Sewa > 500000,Paid
23,ags,Cimahi,Pria,<40,Sewa > 500000,Out Standing
11,adp,Bandung,Pria,<40,Sewa = 500000,Out Standing
7,adp,Cimahi,Wanita,>40,Sewa > 500000,Paid
24,bcp,Cimahi,Pria,<40,Sewa > 500000,Out Standing
8,ags,Bandung,Wanita,<40,Sewa < 500000,Paid
0,adp,Bandung,Pria,<40,Sewa > 500000,Out Standing
17,adp,Bandung,Pria,<40,Sewa = 500000,Paid
29,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
31,bcp,Bandung,Wanita,>40,Sewa = 500000,Paid
15,bcp,Cimahi,Wanita,>40,Sewa < 500000,Paid
3,ags,Bandung,Pria,<40,Sewa = 500000,Paid

### Menggabungkan data testing

In [13]:
join_testing = pd.concat([data_testing_Paid,data_testing_OutStanding])
data_testing = join_testing.sample(frac=1) #fungsi acak baris
print(len(data_testing))
data_testing

15

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
36,bcp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
49,adp,Cimahi,Pria,<40,Sewa < 500000,Paid
47,ags,Bandung,Pria,>40,Sewa > 500000,Paid
46,bcp,Bandung,Pria,>40,Sewa = 500000,Paid
39,bcp,Bandung,Wanita,>40,Sewa > 500000,Paid
35,bcp,Bandung,Pria,>40,Sewa < 500000,Paid
48,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
33,ags,Bandung,Pria,>40,Sewa > 500000,Out Standing
44,bcp,Cimahi,Pria,<40,Sewa = 500000,Out Standing
37,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
40,adp,Bandung,Pria,>40,Sewa > 500000,Paid
41,adp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
45,adp,Bandung,Wanita,>40,Sewa < 500000,Paid
42,adp,Cimahi,Pria,>40,Sewa < 500000,Paid
38,ags,Cimahi,Wanita,>40,Sewa = 500000,Out Standing

# Hitung Probabilitas

##### Probabilitas kelas

In [14]:
print('Banyak data Paid : ', len(data_training_Paid))
print('Banyak data Out Standing :', len(data_training_OutStanding))
persen_Paid = len(data_training_Paid)/len(data_training)
persen_OutStanding = len(data_training_OutStanding)/len(data_training)

print(f"{persen_Paid:}")
print(f"{persen_OutStanding:}")

Banyak data Paid :  18
Banyak data Out Standing : 14
0.5625
0.4375

##### Kolom Area Manager

In [15]:
# Jumlah Paid
jumlah_adp_Paid = len(data_training[(data_training['Area Manager'] == 'adp') & (data_training['Status Pembayaran'] == 'Paid')])
jumlah_ags_Paid = len(data_training[(data_training['Area Manager'] == 'ags') & (data_training['Status Pembayaran'] == 'Paid')])
jumlah_bcp_Paid = len(data_training[(data_training['Area Manager'] == 'bcp') & (data_training['Status Pembayaran'] == 'Paid')])

# Jumlah Out Standing
jumlah_adp_OutStanding = len(data_training[(data_training['Area Manager'] == 'adp') & (data_training['Status Pembayaran'] == 'Out Standing')])
jumlah_ags_OutStanding = len(data_training[(data_training['Area Manager'] == 'ags') & (data_training['Status Pembayaran'] == 'Out Standing')])
jumlah_bcp_OutStanding = len(data_training[(data_training['Area Manager'] == 'bcp') & (data_training['Status Pembayaran'] == 'Out Standing')])

# Probabilitas
persen_adp_Paid = jumlah_adp_Paid/len(data_training_Paid)
persen_ags_Paid = jumlah_ags_Paid/len(data_training_Paid)
persen_bcp_Paid = jumlah_bcp_Paid/len(data_training_Paid)
persen_adp_OutStanding = jumlah_adp_OutStanding/len(data_training_OutStanding)
persen_ags_OutStanding = jumlah_ags_OutStanding/len(data_training_OutStanding)
persen_bcp_OutStanding = jumlah_bcp_OutStanding/len(data_training_OutStanding)

data_Area_Manager = {
    'Area Manager': ['adp', 'ags','bcp'],
    'Jumlah Paid': [jumlah_adp_Paid, jumlah_ags_Paid,jumlah_bcp_Paid],
    'Jumlah Out Standing': [jumlah_adp_OutStanding, jumlah_ags_OutStanding, jumlah_bcp_OutStanding],
    'Persentase Paid': [persen_adp_Paid, persen_ags_Paid, persen_bcp_Paid],
    'Persentase Out Standing': [persen_adp_OutStanding, persen_ags_OutStanding, persen_bcp_OutStanding]
}

df_AreaManager= pd.DataFrame(data_Area_Manager)

# Menampilkan DataFrame
df_AreaManager

,Area Manager,Jumlah Paid,Jumlah Out Standing,Persentase Paid,Persentase Out Standing
0,adp,6,6,0.333333,0.428571
1,ags,6,4,0.333333,0.285714
2,bcp,6,4,0.333333,0.285714

##### Kolom Kota

In [16]:
# Jumlah Paid
jumlah_Bandung_Paid = len(data_training[(data_training['Kota'] == 'Bandung') & (data_training['Status Pembayaran'] == 'Paid')]) # Dalam Kabupaten
jumlah_Cimahi_Paid = len(data_training[(data_training['Kota'] == 'Cimahi') & (data_training['Status Pembayaran'] == 'Paid')] )

# Jumlah Terlambat
jumlah_Bandung_OutStanding = len(data_training[(data_training['Kota'] == 'Bandung') & (data_training['Status Pembayaran'] == 'Out Standing')])
jumlah_Cimahi_OutStanding = len(data_training[(data_training['Kota'] == 'Cimahi') & (data_training['Status Pembayaran'] == 'Out Standing')])

# Probabilitas
persen_Bandung_Paid = jumlah_Bandung_Paid/len(data_training_Paid)
persen_Cimahi_Paid = jumlah_Cimahi_Paid/len(data_training_Paid)
persen_Bandung_OutStanding = jumlah_Bandung_OutStanding/len(data_training_OutStanding)
persen_Cimahi_OutStanding = jumlah_Cimahi_OutStanding/len(data_training_OutStanding)

data_Kota = {
    'Kota': ['Bandung', 'Cimahi'],
    'Jumlah Paid': [jumlah_Bandung_Paid, jumlah_Cimahi_Paid],
    'Jumlah Out Standing': [jumlah_Bandung_OutStanding, jumlah_Cimahi_OutStanding],
    'Persentase Paid': [persen_Bandung_Paid, persen_Cimahi_Paid],
    'Persentase Out Standing': [persen_Bandung_OutStanding, persen_Cimahi_OutStanding]
}

df_Kota = pd.DataFrame(data_Kota)

# Menampilkan DataFrame
df_Kota

,Kota,Jumlah Paid,Jumlah Out Standing,Persentase Paid,Persentase Out Standing
0,Bandung,11,5,0.611111,0.357143
1,Cimahi,7,9,0.388889,0.642857

##### Kolom Jenis Kelamin

In [17]:
# Jumlah Tepat
jumlah_Pria_Paid = len(data_training[(data_training['Jenis Kelamin'] == 'Pria') & (data_training['Status Pembayaran'] == 'Paid')])
jumlah_Wanita_Paid = len(data_training[(data_training['Jenis Kelamin'] == 'Wanita') & (data_training['Status Pembayaran'] == 'Paid')])

# Jumlah Terlambat
jumlah_Pria_OutStanding = len(data_training[(data_training['Jenis Kelamin'] == 'Pria') & (data_training['Status Pembayaran'] == 'Out Standing')])
jumlah_Wanita_OutStanding = len(data_training[(data_training['Jenis Kelamin'] == 'Wanita') & (data_training['Status Pembayaran'] == 'Out Standing')])

# Probabilitas
persen_Pria_Paid = jumlah_Pria_Paid/len(data_training_Paid)
persen_Wanita_Paid = jumlah_Wanita_Paid/len(data_training_Paid)
persen_Pria_OutStanding = jumlah_Pria_OutStanding/len(data_training_OutStanding)
persen_Wanita_OutStanding = jumlah_Wanita_OutStanding/len(data_training_OutStanding)

data_JenisKelamin = {
    'Jenis Kelamin': ['Pria', 'Wanita'],
    'Jumlah Paid': [jumlah_Pria_Paid, jumlah_Wanita_Paid],
    'Jumlah Out Standing': [jumlah_Pria_OutStanding, jumlah_Wanita_OutStanding],
    'Persentase Paid': [persen_Pria_Paid, persen_Wanita_Paid],
    'Persentase Out Standing': [persen_Pria_OutStanding, persen_Wanita_OutStanding]
}

df_JenisKelamin = pd.DataFrame(data_JenisKelamin)

# Menampilkan DataFrame
df_JenisKelamin

,Jenis Kelamin,Jumlah Paid,Jumlah Out Standing,Persentase Paid,Persentase Out Standing
0,Pria,9,9,0.5,0.642857
1,Wanita,9,5,0.5,0.357143

##### Kolom Rata-Rata Umur Penyewa

In [18]:
# Jumlah Paid
jumlah_kurangdari40_Paid = len(data_training[(data_training['Rata - Rata Umur Penyewa'] == '<40') & (data_training['Status Pembayaran'] == 'Paid')])
jumlah_lebihdari40_Paid = len(data_training[(data_training['Rata - Rata Umur Penyewa'] == '>40') & (data_training['Status Pembayaran'] == 'Paid')])

# Jumlah Out Standing
jumlah_kurangdari40_OutStanding = len(data_training[(data_training['Rata - Rata Umur Penyewa'] == '<40') & (data_training['Status Pembayaran'] == 'Out Standing')])
jumlah_lebihdari40_OutStanding = len(data_training[(data_training['Rata - Rata Umur Penyewa'] == '>40') & (data_training['Status Pembayaran'] == 'Out Standing')])

# Probabilitas
persen_Kurangdari40_Paid = jumlah_kurangdari40_Paid/len(data_training_Paid)
persen_Lebihdari40_Paid = jumlah_lebihdari40_Paid/len(data_training_Paid)
persen_Kurangdari40_OutStanding = jumlah_kurangdari40_OutStanding/len(data_training_OutStanding)
persen_Lebihdari40_OutStanding = jumlah_lebihdari40_OutStanding/len(data_training_OutStanding)

# Buat DataFrame
data_Umur_Penyewa = {
    'Rata - Rata Umur Penyewa': ['<40', '>40'],
    'Jumlah Paid': [jumlah_kurangdari40_Paid, jumlah_lebihdari40_Paid],
    'Jumlah Out Standing': [jumlah_kurangdari40_OutStanding, jumlah_lebihdari40_OutStanding],
    'Persentase Paid': [persen_Kurangdari40_Paid, persen_Lebihdari40_Paid],
    'Persentase Out Standing': [persen_Kurangdari40_OutStanding, persen_Lebihdari40_OutStanding]
}

df_UmurPenyewa = pd.DataFrame(data_Umur_Penyewa)

# Menampilkan DataFrame
df_UmurPenyewa

,Rata - Rata Umur Penyewa,Jumlah Paid,Jumlah Out Standing,Persentase Paid,Persentase Out Standing
0,<40,10,7,0.555556,0.5
1,>40,8,7,0.444444,0.5

##### Kolom Rata - Rata Biaya Sewa

In [19]:
# Jumlah Paid
jumlah_Kurangdari50_Paid = len(data_training[(data_training['RataRata Biaya Sewa'] == 'Sewa < 500000') & (data_training['Status Pembayaran'] == 'Paid')])
jumlah_Samadengan50_Paid = len(data_training[(data_training['RataRata Biaya Sewa'] == 'Sewa = 500000') & (data_training['Status Pembayaran'] == 'Paid')])
jumlah_Lebihdari50_Paid = len(data_training[(data_training['RataRata Biaya Sewa'] == 'Sewa > 500000') & (data_training['Status Pembayaran'] == 'Paid')])

# Jumlah Out Standing
jumlah_Kurangdari50_OutStanding = len(data_training[(data_training['RataRata Biaya Sewa'] == 'Sewa < 500000') & (data_training['Status Pembayaran'] == 'Out Standing')])
jumlah_Samadengan50_OutStanding = len(data_training[(data_training['RataRata Biaya Sewa'] == 'Sewa = 500000') & (data_training['Status Pembayaran'] == 'Out Standing')])
jumlah_Lebihdari50_OutStanding = len(data_training[(data_training['RataRata Biaya Sewa'] == 'Sewa > 500000') & (data_training['Status Pembayaran'] == 'Out Standing')])

# Probabilitas
persen_Kurangdari50_Paid = jumlah_Kurangdari50_Paid/len(data_training_Paid)
persen_Samadengan50_Paid = jumlah_Samadengan50_Paid/len(data_training_Paid)
persen_Lebihdari50_Paid = jumlah_Lebihdari50_Paid/len(data_training_Paid)
persen_Kurangdari50_Outstanding = jumlah_Kurangdari50_OutStanding/len(data_training_OutStanding)
persen_Samadengan50_Outstanding = jumlah_Samadengan50_OutStanding/len(data_training_OutStanding)
persen_Lebihdari50_Outstanding = jumlah_Lebihdari50_OutStanding/len(data_training_OutStanding)

# Buat DataFrame
data_BiayaSewa = {
    'RataRata Biaya Sewa': ['Sewa < 500000', 'Sewa = 500000','Sewa > 500000'],
    'Jumlah Paid': [jumlah_Kurangdari50_Paid, jumlah_Samadengan50_Paid, jumlah_Lebihdari50_Paid],
    'Jumlah Out Standing': [jumlah_Kurangdari50_OutStanding, jumlah_Samadengan50_OutStanding, jumlah_Lebihdari50_OutStanding],
    'Persentase Paid': [persen_Kurangdari50_Paid, persen_Samadengan50_Paid, persen_Lebihdari50_Paid],
    'Persentase Out Standing': [persen_Kurangdari50_Outstanding, persen_Samadengan50_Outstanding, persen_Lebihdari50_Outstanding]
}

df_BiayaSewa = pd.DataFrame(data_BiayaSewa)

# Menampilkan DataFrame
df_BiayaSewa

,RataRata Biaya Sewa,Jumlah Paid,Jumlah Out Standing,Persentase Paid,Persentase Out Standing
0,Sewa < 500000,7,3,0.388889,0.214286
1,Sewa = 500000,4,5,0.222222,0.357143
2,Sewa > 500000,7,6,0.388889,0.428571

# Prediksi
Memprediksi nilai pada kolom kelas di data testing

In [20]:
# Prediksi nilai 
data_testing_copy = data_testing.copy()
data_testing_copy

,Area Manager,Kota,Jenis Kelamin,Rata - Rata Umur Penyewa,RataRata Biaya Sewa,Status Pembayaran
36,bcp,Cimahi,Pria,<40,Sewa < 500000,Out Standing
49,adp,Cimahi,Pria,<40,Sewa < 500000,Paid
47,ags,Bandung,Pria,>40,Sewa > 500000,Paid
46,bcp,Bandung,Pria,>40,Sewa = 500000,Paid
39,bcp,Bandung,Wanita,>40,Sewa > 500000,Paid
35,bcp,Bandung,Pria,>40,Sewa < 500000,Paid
48,ags,Cimahi,Wanita,<40,Sewa = 500000,Paid
33,ags,Bandung,Pria,>40,Sewa > 500000,Out Standing
44,bcp,Cimahi,Pria,<40,Sewa = 500000,Out Standing
37,ags,Cimahi,Pria,<40,Sewa = 500000,Out Standing
40,adp,Bandung,Pria,>40,Sewa > 500000,Paid
41,adp,Cimahi,Pria,>40,Sewa < 500000,Out Standing
45,adp,Bandung,Wanita,>40,Sewa < 500000,Paid
42,adp,Cimahi,Pria,>40,Sewa < 500000,Paid
38,ags,Cimahi,Wanita,>40,Sewa = 500000,Out Standing

## Fungsi Naive Bayes

In [21]:
def naive_bayes_prediction(AreaManager, Kota, JenisKelamin, RataRataUmurPenyewa, RataRataBiayaSewa):
    persentase_AreaManager = {'adp': {'Paid': persen_adp_Paid, 'Out Standing': persen_adp_OutStanding},
                              'ags': {'Paid': persen_ags_Paid, 'Out Standing': persen_ags_OutStanding},
                              'bcp': {'Paid': persen_bcp_Paid, 'Out Standing': persen_bcp_OutStanding}}

    persentase_Kota = {'Bandung': {'Paid': persen_Bandung_Paid, 'Out Standing': persen_Bandung_OutStanding},
                       'Cimahi': {'Paid': persen_Cimahi_Paid, 'Out Standing': persen_Cimahi_OutStanding}}

    persentase_JenisKelamin = {'Pria': {'Paid': persen_Pria_Paid, 'Out Standing': persen_Pria_OutStanding},
                               'Wanita': {'Paid': persen_Wanita_Paid, 'Out Standing': persen_Wanita_OutStanding}}

    persentase_RataRataUmurPenyewa = {'<40': {'Paid': persen_Kurangdari40_Paid, 'Out Standing': persen_Kurangdari40_OutStanding},
                                      '>40': {'Paid': persen_Lebihdari40_Paid, 'Out Standing': persen_Lebihdari40_OutStanding}}

    persentase_RataRataBiayaSewa = {'Sewa < 500000': {'Paid': persen_Kurangdari50_Paid, 'Out Standing': persen_Kurangdari50_Outstanding},
                                    'Sewa = 500000': {'Paid': persen_Samadengan50_Paid, 'Out Standing': persen_Samadengan50_Outstanding},
                                    'Sewa > 500000': {'Paid': persen_Lebihdari50_Paid, 'Out Standing': persen_Lebihdari50_Outstanding}}

    # Menghitung prediksi untuk kelas 'Paid'
    prediksi_Paid = (
            persen_Paid *
            persentase_AreaManager.get(AreaManager, 0).get('Paid', 0) *
            persentase_Kota.get(Kota, 0).get('Paid', 0) *
            persentase_JenisKelamin.get(JenisKelamin, 0).get('Paid', 0) *
            persentase_RataRataUmurPenyewa.get(RataRataUmurPenyewa, 0).get('Paid', 0) *
            persentase_RataRataBiayaSewa.get(RataRataBiayaSewa, 0).get('Paid', 0)
    )

    # Menghitung prediksi untuk kelas 'Out Standing'
    prediksi_OutStanding = (
            persen_OutStanding *
            persentase_AreaManager.get(AreaManager, 0).get('Out Standing', 0) *
            persentase_Kota.get(Kota, 0).get('Out Standing', 0) *
            persentase_JenisKelamin.get(JenisKelamin, 0).get('Out Standing', 0) *
            persentase_RataRataUmurPenyewa.get(RataRataUmurPenyewa, 0).get('Out Standing', 0) *
            persentase_RataRataBiayaSewa.get(RataRataBiayaSewa, 0).get('Out Standing', 0)
    )

    print(f'Area Manager: {AreaManager}')
    print(f'Kota: {Kota}')
    print(f'Jenis Kelamin: {JenisKelamin}')
    print(f'Rata-Rata Umur Penyewa: {RataRataUmurPenyewa}')
    print(f'Rata-Rata Biaya Sewa: {RataRataBiayaSewa}')
    print(f'Persentase Paid: {prediksi_Paid}')
    print(f'Persentase Out Standing: {prediksi_OutStanding}')

    prediksi = max(prediksi_Paid, prediksi_OutStanding)
    if prediksi == prediksi_Paid:
        return 'Paid'
    else:
        return 'Out Standing'


AreaManager = input('Masukkan Area Manager (adp/ags/bcp): ')
Kota = input('Dari mana Kota anda? (Bandung/Cimahi): ')
JenisKelamin = input('Apa Jenis Kelamin Anda? (Pria/Wanita): ')
RataRataUmurPenyewa = input('Berapa Umur Anda? (<40/>40): ')
RataRataBiayaSewa = input('Berapa Rata-Rata Biaya Sewa Anda? (Sewa < 500000/Sewa = 500000/Sewa > 500000): ')

kelas_prediksi = naive_bayes_prediction(AreaManager, Kota, JenisKelamin, RataRataUmurPenyewa, RataRataBiayaSewa)
print("Prediksi Status Pembayaran: ", kelas_prediksi)

Area Manager: adp
Kota: Bandung
Jenis Kelamin: Pria
Rata-Rata Umur Penyewa: <40
Rata-Rata Biaya Sewa: Sewa < 500000
Persentase Paid: 0.012377829218106998
Persentase Out Standing: 0.004612336005830904
Prediksi Status Pembayaran:  Paid

In [22]:
import tkinter as tk
from tkinter import ttk

def naive_bayes_prediction(AreaManager, Kota, JenisKelamin, RataRataUmurPenyewa, RataRataBiayaSewa):
    persentase_AreaManager = {'adp': {'Paid': persen_adp_Paid, 'Out Standing': persen_adp_OutStanding},
                            'ags': {'Paid': persen_ags_Paid, 'Out Standing': persen_ags_OutStanding},
                            'bcp': {'Paid': persen_bcp_Paid, 'Out Standing': persen_bcp_OutStanding}}

    persentase_Kota = {'Bandung': {'Paid': persen_Bandung_Paid, 'Out Standing': persen_Bandung_OutStanding},
                            'Cimahi': {'Paid': persen_Cimahi_Paid, 'Out Standing': persen_Cimahi_OutStanding}}
    
    persentase_JenisKelamin = {'Pria': {'Paid': persen_Pria_Paid, 'Out Standing': persen_Pria_OutStanding},
                            'Wanita': {'Paid': persen_Wanita_Paid, 'Out Standing': persen_Wanita_OutStanding}}
    
    persentase_RataRataUmurPenyewa = {'<40': {'Paid': persen_Kurangdari40_Paid, 'Out Standing': persen_Kurangdari40_OutStanding},
                            '>40': {'Paid': persen_Lebihdari40_Paid, 'Out Standing': persen_Lebihdari40_OutStanding}}
    
    persentase_RataRataBiayaSewa = {'Sewa < 500000': {'Paid': persen_Kurangdari50_Paid, 'Out Standing': persen_Kurangdari50_Outstanding},
                            'Sewa = 500000': {'Paid': persen_Samadengan50_Paid, 'Out Standing': persen_Samadengan50_Outstanding},
                                'Sewa > 500000': {'Paid': persen_Lebihdari50_Paid, 'Out Standing': persen_Lebihdari50_Outstanding}}
    prediksi_Paid = (
        persen_Paid *
        persentase_AreaManager.get(AreaManager, 0).get('Paid', 0) *
        persentase_Kota.get(Kota, 0).get('Paid', 0) *
        persentase_JenisKelamin.get(JenisKelamin, 0).get('Paid', 0) *
        persentase_RataRataUmurPenyewa.get(RataRataUmurPenyewa, 0).get('Paid', 0) *
        persentase_RataRataBiayaSewa.get(RataRataBiayaSewa, 0).get('Paid', 0) 
    )

    # Menghitung prediksi untuk kelas 'Terlambat'
    prediksi_OutStanding = (
        persen_OutStanding *
        persentase_AreaManager.get(AreaManager, 0).get('Out Standing', 0) *
        persentase_Kota.get(Kota, 0).get('Out Standing', 0) *
        persentase_JenisKelamin.get(JenisKelamin, 0).get('Out Standing', 0) *
        persentase_RataRataUmurPenyewa.get(RataRataUmurPenyewa, 0).get('Out Standing', 0) *
        persentase_RataRataBiayaSewa.get(RataRataBiayaSewa, 0).get('Out Standing', 0) 
    )

    prediksi = max(prediksi_Paid, prediksi_OutStanding)
    if prediksi == prediksi_Paid:
        return 'Paid'
    else:
        return 'Out Standing'

def on_predict_button_click():
    # Get selected values from dropdowns
    area_manager = area_manager_var.get()
    kota = kota_var.get()
    jenis_kelamin = jenis_kelamin_var.get()
    umur_penyewa = umur_penyewa_var.get()
    biaya_sewa = biaya_sewa_var.get()

    # Perform prediction
    prediction_result = naive_bayes_prediction(area_manager, kota, jenis_kelamin, umur_penyewa, biaya_sewa)

    # Update the result label
    result_label.config(text=f"Prediksi Status Pembayaran: {prediction_result}")

# Create a Tkinter window
window = tk.Tk()
window.title("Naive Bayes Prediction")

# Dropdown options
area_manager_options = ['adp', 'ags', 'bcp']
kota_options = ['Bandung', 'Cimahi']
jenis_kelamin_options = ['Pria', 'Wanita']
umur_penyewa_options = ['<40', '>40']
biaya_sewa_options = ['Sewa < 500000', 'Sewa = 500000', 'Sewa > 500000']

# Variables to store selected values
area_manager_var = tk.StringVar(value=area_manager_options[0])
kota_var = tk.StringVar(value=kota_options[0])
jenis_kelamin_var = tk.StringVar(value=jenis_kelamin_options[0])
umur_penyewa_var = tk.StringVar(value=umur_penyewa_options[0])
biaya_sewa_var = tk.StringVar(value=biaya_sewa_options[0])

# Dropdowns
area_manager_dropdown = ttk.Combobox(window, textvariable=area_manager_var, values=area_manager_options)
kota_dropdown = ttk.Combobox(window, textvariable=kota_var, values=kota_options)
jenis_kelamin_dropdown = ttk.Combobox(window, textvariable=jenis_kelamin_var, values=jenis_kelamin_options)
umur_penyewa_dropdown = ttk.Combobox(window, textvariable=umur_penyewa_var, values=umur_penyewa_options)
biaya_sewa_dropdown = ttk.Combobox(window, textvariable=biaya_sewa_var, values=biaya_sewa_options)

# Result label
result_label = tk.Label(window, text="Prediksi Status Pembayaran: ")

# Predict button
predict_button = tk.Button(window, text="Predict", command=on_predict_button_click)

# Layout
area_manager_dropdown.pack(pady=5)
kota_dropdown.pack(pady=5)
jenis_kelamin_dropdown.pack(pady=5)
umur_penyewa_dropdown.pack(pady=5)
biaya_sewa_dropdown.pack(pady=5)
predict_button.pack(pady=10)
result_label.pack(pady=10)

# Start the Tkinter event loop
window.mainloop()

In [23]:
#PEMBUKTIAN (VALIDASI PROBABILITAS PAID)

0.333333*0.611111*0.5*0.444444*0.388889*0.5625

0.009902244598772762

In [24]:
#PEMBUKTIAN (VALIDASI PROBABILITAS OUT STANDING)

0.428571*0.357143*0.357143*0.5*0.214286*0.4375

0.002562411796189367